<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
   <appSettings>
     <add key="SolutionTemplateDirectory" value="C:\Git\EasyLOB-4\EasyLOB-4.NuGet\EasyLOB-MyLOB.NuGet" />
     <add key="SolutionDirectory" value="C:\Git\EasyLOB-4" />
     <add key="FilesDirectory" value="C:\Generator" />
     <add key="FilesConnectionString" value="Data Source=.;Database=Northwind;Integrated Security=true" />
     <add key="FilesApplication" value="Northwind" />
     <add key="FilesNamespaceData" value="Northwind.Data" />
     <add key="FilesNamespacePresentation" value="Northwind.Mvc" />
     <add key="FilesNamespacePersistence" value="Northwind.Persistence" />
   </appSettings> 
</configuration>
